<ol class="restaurant-list">
  {{#each restaurant as |restaurant|}}
  <li>
    <article class="location">
      <div class="title">
        <span>Location :{{city}}</span>
      </div>
      <div class="meta">
        Restaurant Number {{id }} 
        Address: {{address}} 
        Phone Number: {{phone}}
        Email: {{email}}
</div>
    </article>
  </li>
  {{/each}}
</ol>