<h3 class="page-title"> Locations</h3>
<ol class="page-list">
  <li>
    <article class="page">
        <div class="title">
            <span>Location :{{location.city}}</span>
        </div>
        <div class="meta">
            Restaurant Number {{location.id }} 
            Address: {{location.address}} 
            Phone Number: {{location.phone}}
            Email: {{location.email}}
        </div>
    </article>
  </li>
</ol>